{% extends "AppBundle::base.html.twig" %}

{% block title %}
	{{ pagemeta.getPageTitle() }}
{% endblock %}

{% block content %}

	{% if pagemeta is not null %}
	<h1>{{ pagemeta.getShortDescription() | raw }}</h1>

	{%  if pagemeta.featuredImage is not null %}
		<img class="featured_image" src="{{ vich_uploader_asset(pagemeta, 'featuredImageFile') }}" alt="{{ pagemeta.getShortDescription() | striptags }}"/>
	{% endif %}

	{{ pagemeta.getContent() | raw }}

	{% endif %}

{% endblock %}

