{%  extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}
    {{ 'dashboard.welcome.title' | trans({}, 'app') }}
{% endblock %}

{% block header_logo %}
<a class="logo" title="" href="{{ path('dashboard') }}">
    <img src="/bundles/app/images/logo.png" />
</a>
{% endblock header_logo %}

{% set urlPrefix = (app.environment == 'dev') ? '/app_dev.php/' : '/' %}

{% block head_javascript %}
    {{ parent() }}
    <script>
        $(function() {
            // select the box based on locale
            $('#lang').val('{{ app.request.getLocale() }}');
            // redirect user if user change locale
            $('#lang').change(function() {
                window.location='{{ urlPrefix }}'+$(this).val()+'/locale';
            });
        });
    </script>
{% endblock head_javascript %}

{% block user_menu %}
    <i class="fa fa-language" aria-hidden="true">
        <select id="lang" name="lang">
            {% for lang in supported_lang %}
                <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
        </select>
    </i>
    <i class="hidden-xs fa fa-user">
    {% if app.user %}
        <a href="{{ path('easyadmin') }}/?entity=User&action=show&id={{ app.user.id }}">{{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}</a>
    {% else %}
        {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
    {% endif %}
        </i>
    <i class="hidden-xs fa fa-sign-out"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout' | trans({}, 'FOSUserBundle') }}</a></i>
{% endblock user_menu %}
